h1 {
  color: #577C76;
  font-family: Futura;
  font-weight: lighter;
  text-align: center;
  position: absolute;
}

body {
  background-color: #B1D4CE;
}

#game-board {
  font-size: 72px;
}

.newGame{
  background-color: #577C76;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.tile {
  border-style: solid;
  border-color: #577C76;
  border-width: 1px;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.player1 {
  background-color: blue;
}

.player2 {
  background-color: red;
}
