h1 {
  color: #577C76;
  font-family: Futura;
  font-weight: lighter;
  font-size: 48px;
  text-align: center;
  position: relative;
}

#tic {
  color: #66FF66;
}

#tac {
  color: #B266FF;
}

#toe {
  color: #FFFF66;
}
body {
  background-image: url("img/bck1.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
}

#game-board {
  font-size: 250%;
  margin: 0 auto;
  color: #3D0295;
}

.newGame{
  background-color: #B266FF;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 25px;
  font-family: Futura;
  font-size: 14px;
  color: #FFFF66;
}

#tile0-0,
#tile1-2,
#tile2-0 {
  background-color: #FFFF66;
}

#tile0-1,
#tile1-0,
#tile2-1 {
  background-color: #B266FF;
}

#tile0-2,
#tile1-1,
#tile2-2 {
  background-color: #66FF66;
}

.tile {
  border-style: solid;
  border-color: #577C76;
  border-width: 1px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: inline-block;
}


/*.playerOne {
  background-image: url("pic1.jpg");
  background-repeat: no-repeat;
}

.playerTwo {
  background-image: url("pic2.png");
}*/
